<html>

<head>
  <title>Real Time Chat Demo socket.io</title>
  <script src="jquery.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script>
    var socket = io("http://localhost:3000");
  $(document).ready();
  </script>
  
</head>

<body>
hello world

</body>
<footer>

</footer>

</html>