<html>

<head>
  <title>Real Time Chat Demo socket.io</title>
  <script src="jquery.js"></script>
  <script>
  $(document).ready(() => {
  alert("hello")
  });
  </script>
  
</head>

<body>
hello world

</body>
<footer>

</footer>

</html>